.message{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.message >img{
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 20px;
}
.message__info{
    padding-left: 10px;
}
.message__info > p{
    margin-top:-15px;
}
.message__timestamp{
    color: grey;
    font-weight: 300;
    font-size: 13px;
}